.blog-id{
    padding: 20px;
}
h1{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400px;
}
p{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
}